main {
    background-image: url(fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

form {
    padding:2px;
    cursor:pointer;
    display:block;
    width:100%;
    margin: 0 auto;
    text-align:left;
}

.informacion {
    display: inline-block;
    margin: 2% 4%;
    width: 40%;
}

form h2 {
    text-align: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 48px;
    font-weight: bold;
    padding: 40px 0;
    background-color: rgb(134, 226, 238, 0.6);
}

form label, form input{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    display: block;
    font-size: 22px;
    width: 100%;
}

form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: rgb(0, 204, 255);
    background-color: #D3FAFF;
}

form input:focus {
    border-color: hsl(36, 100%, 51%);
    background-color: #ffeea1;
    outline: unset;
}

form label {
    color: #ffffff;
    text-shadow: 0 0 15px rgb(0, 204, 255);
    font-weight: bolder;
    margin: 0 0 5px 10px;
}

form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 14px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #00A0F1;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

form button:hover {
    background-color: #0040f1;
}

form button:active {
    background-color: #000272;
}

